.second{
    border: 10px;
    border-color: black;
    background-color: white;
    width: 220px;
    height: 700px;
    margin-left:auto ;
    margin-right:auto ;
}
body{
    background-color: blue;
}
.first{
  
    width: 50%;
    
}
div h2{
    padding: 6%;
    margin: 0%;
}
div img{
    padding: 9%;
    width: 84%;
    height: auto;
    margin: 0%;
}
div h5{
    margin: 8%;
    padding: 1%;
}
.asagi{
    padding: 6%;
    margin: 0%;
}